<!DOCTYPE html>
<html lang="en">
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="color-scheme" content="light dark">
		<title>{{title}}</title>
	</head>
	<body>
		<main>
			<h1>{{title}}</h1>
			<div>
				<a href="/">Home</a> | 
				<a href="/store-console">EclipseStoreGui</a> | 
				<a href="/logout">Logout</a>
			</div>
			<div>
				{{#root}}
					<p>Created={{created}}</p>
					<p>Updated={{updated}}</p>
				{{/root}}
			</div>
		</main>
	</body>
</html>
